<ul class="list-unstyled">
  <% workouts.each do |workout| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(workout.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to workout.user.name, user_path(workout.user) %> <span class="text-muted">posted at <%= l workout.created_at, format: :long %></span>
        </div>
        <div>
          <%= l workout.date %>
          <%= workout.event %>
        </div>
        <div class="btn-toolbar">
          <div class="btn-group">
            <%= link_to "詳細", workout, class: "btn btn-light btn-sm" %>
            <%= render "favorites/favorite_button", workout: workout %>
          </div>
          <div class="btn-group">
            <% if current_user == workout.user %>
              <%= link_to "削除", workout, method: :delete, data: { confirm: "本当に削除してよろしいですか?" }, class: "btn btn-danger btn-sm" %>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate workouts %>
</ul>