<div class="text-center">
<h1>id: <%= @workout.id %> ワークアウト詳細</h1>
</div>

<table class="table table-bordered">
  <tr>
    <th>日付</th>
    <td><%= l @workout.date, format: :long %></td>
  </tr>
  <tr>
    <th>タイプ</th>
    <td><%= @workout.event %></td>
  </tr>
  <tr>
    <th>時間</th>
    <td><%= l @workout.totaltime, format: :short %></td>
  </tr>
  <tr>
    <th>距離</th>
    <td><%= @workout.totaldistance %>km</td>
  </tr>
  <tr>
    <th>備考</th>
    <td><%= @workout.content %></td>
  </tr>
</table>

<div class="text-center">
<% if current_user == @workout.user %>
  <%= link_to "編集", edit_workout_path(@workout), class: "btn btn-light" %>
  <%= link_to "削除", @workout, method: :delete, data: { confirm: "本当に削除してよろしいですか?" }, class: "btn btn-danger" %>
<% end %>
</div>